.dimmed {width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5); position:fixed; top:0; left:0; z-index:9; cursor: default;}
.add_modal {
    width:400px; min-height: 500px; padding: 20px 30px; position: fixed; top:50%; left: 50%; transform: translate(-50%, -50%); border-radius:8px;
    z-index: 10; background: #fff; box-shadow: inset 2px 2px 12px #bebebe, inset -2px -2px 12px #ffffff;
}
@media screen and (max-width: 750px) {
    .add_modal {width:90%;}
}
.add_modal .modal_title {font-size:20px; font-weight:700; display:inline; font-family: "Roboto", sans-serif;}
.add_modal p {color:#333; font-size:15px; font-family: "Roboto", sans-serif;}
.add_modal input, .add_modal textarea {
    width:100%; height:40px; margin:10px 0 20px; padding:10px; border: 2px solid rgb(255, 255, 255); border-radius: 6px;
    box-shadow: 0.1px 0.1px 3px rgb(138, 138, 255) inset;
}
.add_modal textarea {min-height:120px; resize:none;}
.add_modal .modal_work_title {position:relative;}
.add_modal .modal_work_type {width:100%; position:relative;}
.add_modal .emoji_button {width:18px; height:18px; position:absolute; top:45%; right:14px; background:url("../assets/emoji_icon.png") no-repeat center / cover; border:none;}
.add_modal .modal_top {width:100%; height:40px; position:relative; display: flex; align-items: center; margin: 0 0 20px;}
.add_modal .close_btn {width:30px; height:30px; position:absolute; right:-7px; background: url("../assets/close_icon.png") no-repeat center / 18px; border:none; cursor:pointer;}
.add_modal .submit_btn_wrap {width:100%; text-align:center;}
.add_modal .submit_btn { width:60%; height:50px; margin:30px 0 0; background-color:#9eb9ff; border:none; border-radius:25px; font-family: "Roboto", sans-serif; cursor:pointer;}
.confirm_modal {width:400px; min-height: 200px; padding: 20px 30px; position: fixed; top:50%; left: 50%; transform: translate(-50%, -50%);
    display:flex; flex-direction:column; justify-content:center; text-align:center; border-radius:6px; z-index: 10;
    background: #fff; box-shadow: inset 2px 2px 12px #bebebe, inset -2px -2px 12px #ffffff; cursor: default;}
.confirm_modal p {font-size:1.25rem; font-family:"Roboto", sans-serif;}
.confirm_modal .button_wrap {margin: 50px 0 0; display:flex; justify-content:center;}
.confirm_modal .button_wrap button {width:48%; height:42px; cursor:pointer; border:none; border-radius:4px; background-color:#9eb9ff; font-family:"Roboto", sans-serif;}
.confirm_modal .button_wrap button:first-child {margin: 0 20px 0 0; background-color:#ccc; border:none; }
aside.emoji-picker-react {position:absolute!important;}